#agendamento {
    background-color: #f3c0b0;
    padding: 15px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    color: #333;
}

form {
    display: grid;
    gap: 20px;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
}

button {
    background-color: #e6a198;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d88579;
}

